*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.login{
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.nav{
  background-color: rgb(0, 2, 99) ;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 28px;
  padding: 0 14px;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav li.active{
  background-color: rgb(99, 123, 201);
}

.nav li:hover{
  background-color: rgb(130, 159, 255)
}

.nav-title{
  font-size: 24px;
}

.App{
  text-align: center;
}

.login{
  background-color: cornflowerblue;
  border: 10px;
  border-radius: 25px;
  max-width: fit-content;
  padding: 20px;
}
